---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&location=chicago,il,%20headers:header
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 19:03:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il,
        headers:header"},"locations":[{"street":"S Il Route 59","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"West
        Chicago","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"60185","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/481668","unknownInput":"","type":"s","latLng":{"lat":41.92762,"lng":-88.20869},"displayLatLng":{"lat":41.92762,"lng":-88.20869},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&type=map&size=225,160&locations=41.92762,-88.20869|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-2012678034"},{"street":"West
        Bruce Road","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Homer","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"60491","geocodeQualityCode":"I1CCA[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a8d2653ddadbdd143811a2815e3c9ce5&exclude=minutely,alerts&lat=41.92762&lon=-88.20869
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.9276,"lon":-88.2087,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1659985387,"sunrise":1659956018,"sunset":1660007002,"temp":297.58,"feels_like":298.4,"pressure":1013,"humidity":89,"dew_point":295.65,"uvi":2.35,"clouds":100,"visibility":4828,"wind_speed":5.14,"wind_deg":260,"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50d"},{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.25}},"hourly":[{"dt":1659985200,"temp":297.58,"feels_like":298.4,"pressure":1013,"humidity":89,"dew_point":295.65,"uvi":2.35,"clouds":100,"visibility":10000,"wind_speed":5.51,"wind_deg":310,"wind_gust":6.68,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.45,"rain":{"1h":0.32}},{"dt":1659988800,"temp":297.46,"feels_like":298.24,"pressure":1013,"humidity":88,"dew_point":295.34,"uvi":1.86,"clouds":100,"visibility":10000,"wind_speed":5.11,"wind_deg":322,"wind_gust":6.64,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.4},{"dt":1659992400,"temp":296.28,"feels_like":297,"pressure":1013,"humidity":90,"dew_point":294.55,"uvi":1.25,"clouds":100,"visibility":10000,"wind_speed":5.46,"wind_deg":3,"wind_gu[...]
