---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&location=Chicago,%20IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 19:03:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Chicago,
        IL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=138471096"}]}]}'
  recorded_at: Mon, 08 Aug 2022 19:03:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a8d2653ddadbdd143811a2815e3c9ce5&exclude=minutely,alerts&lat=41.883229&lon=-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1659985392,"sunrise":1659955886,"sunset":1660006857,"temp":299.99,"feels_like":302.37,"pressure":1014,"humidity":78,"dew_point":295.83,"uvi":2.78,"clouds":100,"visibility":10000,"wind_speed":4.63,"wind_deg":270,"wind_gust":10.29,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1659985200,"temp":299.99,"feels_like":302.37,"pressure":1014,"humidity":78,"dew_point":295.83,"uvi":2.78,"clouds":100,"visibility":10000,"wind_speed":5.53,"wind_deg":298,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.71},{"dt":1659988800,"temp":299.43,"feels_like":299.43,"pressure":1014,"humidity":80,"dew_point":295.7,"uvi":2.19,"clouds":99,"visibility":10000,"wind_speed":6.59,"wind_deg":351,"wind_gust":8.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.71},{"dt":1659992400,"temp":297.79,"feels_like":298.45,"pressure":1014,"humidity":82,"dew_point":294.51,"uvi":1.46,"clouds":98,"visibility":10000,"wind_speed":7.51,"wind_deg":1,"wind_gust":9.16,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.73},{"dt":1659996000,"temp":295.95,"feels_like":296.48,"pressure":1014,"humidity":84,"dew_point":293.11,"uvi":0.3,"clouds":98,"visibility":10000,"wind_speed":7.16,"wind_deg":4,"wind_gust":9.39,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.69,"rain":{"1h":0.17}},{"dt":1659999600,"temp":294.57,"feels_like":294.96,"pressure":1014,"humidity":84,"dew_point":291.76,"uvi":0.12,"clouds":98,"visibility":10000,"wind_speed":6.39,"wind_deg":360,"wind_gust":8.35,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.69},{"dt":1660003200,"temp":293.26,"feels_like":293.47,"pressure":1014,"humidity":82,"dew_point":290.15,"uvi":0.03,"clouds":98,"visibility":10000,"wind_speed":6.11,"wind_deg":358,"wind_gust":8.07[...]
