---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&location=Chicago,%20IL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 23:33:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Chicago,
        IL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=116926226"}]}]}'
  recorded_at: Mon, 08 Aug 2022 23:33:26 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=Mexican&location=41.883229,%20-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer llFKl4YQSGryN4AvEdCkWS13yYb-sNbueMcFrEvwGBdBu8Sk8RIG3kSeod9p5ksV2CJfk969a8AoCA4EovVLl3FgCDZ6ZQeHZ0jGslV4VyHHxkKKiYt7ENagrCjxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - 36d784d59ddff43d
      X-Routing-Service:
      - routing-main--useast1-5db947469f-lz95h; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4896'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "cKZNbMvoqJaUe7n6lf6i7w", "alias": "wildberry-pancakes-and-cafe-chicago-2",
        "name": "Wildberry Pancakes and Cafe", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/43XNyVUbPJNtC6IFobGRMw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wildberry-pancakes-and-cafe-chicago-2?adjust_creative=D-c_jjXAbApI7wGnEhK3og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=D-c_jjXAbApI7wGnEhK3og",
        "review_count": 8589, "categories": [{"alias": "pancakes", "title": "Pancakes"},
        {"alias": "waffles", "title": "Waffles"}, {"alias": "cafes", "title": "Cafes"}],
        "rating": 4.5, "coordinates": {"latitude": 41.884668, "longitude": -87.62288},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "130 E Randolph St", "address2": "", "address3": "", "city": "Chicago", "zip_code":
        "60601", "country": "US", "state": "IL", "display_address": ["130 E Randolph
        St", "Chicago, IL 60601"]}, "phone": "+13129389777", "display_phone": "(312)
        938-9777", "distance": 793.898344949934}, {"id": "qjnpkS8yZO8xcyEIy5OU9A",
        "alias": "girl-and-the-goat-chicago", "name": "Girl & The Goat", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/ya6gjD4BPlxe7AKMj_5WsA/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/girl-and-the-goat-chicago?adjust_creative=D-c_jjXAbApI7wGnEhK3og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=D-c_jjXAbApI7wGnEhK3og",
        "review_count": 9274, "categories": [{"alias": "newa[...]
