---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&location=chicago,il,
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 23:33:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il,"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=jySLMdxKQGR611P3LcbkFXOei7PeKF4c&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1084471266"}]}]}'
  recorded_at: Mon, 08 Aug 2022 23:33:11 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a8d2653ddadbdd143811a2815e3c9ce5&exclude=minutely,alerts&lat=41.883229&lon=-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660001592,"sunrise":1659955886,"sunset":1660006857,"temp":292.18,"feels_like":292.44,"pressure":1016,"humidity":88,"dew_point":290.15,"uvi":0.03,"clouds":98,"visibility":10000,"wind_speed":3.13,"wind_deg":52,"wind_gust":3.58,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1659999600,"temp":292.39,"feels_like":292.64,"pressure":1016,"humidity":87,"dew_point":290.17,"uvi":0.12,"clouds":98,"visibility":10000,"wind_speed":6.39,"wind_deg":360,"wind_gust":8.35,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.69},{"dt":1660003200,"temp":292.18,"feels_like":292.44,"pressure":1016,"humidity":88,"dew_point":290.15,"uvi":0.03,"clouds":98,"visibility":10000,"wind_speed":6.11,"wind_deg":358,"wind_gust":8.07,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.69},{"dt":1660006800,"temp":292.42,"feels_like":292.65,"pressure":1016,"humidity":86,"dew_point":290.02,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":5.87,"wind_deg":9,"wind_gust":7.84,"weather":[[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=mexican&location=41.883229,%20-87.632398
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer llFKl4YQSGryN4AvEdCkWS13yYb-sNbueMcFrEvwGBdBu8Sk8RIG3kSeod9p5ksV2CJfk969a8AoCA4EovVLl3FgCDZ6ZQeHZ0jGslV4VyHHxkKKiYt7ENagrCjxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--useast1-b99cf5bd6-c9w98; site=public_api_v3
      Ratelimit-Remaining:
      - '4897'
      X-Zipkin-Id:
      - 66c9889c4ca0022b
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-103-189-useast1aprod
      X-Extlb:
      - 10-65-103-189-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "jGiKIJCVLZHXQDSNnSLPsw", "alias": "xoco-chicago",
        "name": "Xoco", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/0Z6QVmxTHd16d28e_5eEdg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/xoco-chicago?adjust_creative=D-c_jjXAbApI7wGnEhK3og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=D-c_jjXAbApI7wGnEhK3og",
        "review_count": 3791, "categories": [{"alias": "mexican", "title": "Mexican"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}, {"alias": "sandwiches",
        "title": "Sandwiches"}], "rating": 4.0, "coordinates": {"latitude": 41.890969,
        "longitude": -87.630776}, "transactions": ["pickup", "delivery"], "price":
        "$$", "location": {"address1": "449 N Clark St", "address2": "", "address3":
        "", "city": "Chicago", "zip_code": "60654", "country": "US", "state": "IL",
        "display_address": ["449 N Clark St", "Chicago, IL 60654"]}, "phone": "+13127232131",
        "display_phone": "(312) 723-2131", "distance": 868.9546692223225}, {"id":
        "AqgG-1aD6JYj9D6OmBWO3w", "alias": "frontera-grill-chicago", "name": "Frontera
        Grill", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/QtFZmipdvfAqeo8wSFhn9g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/frontera-grill-chicago?adjust_creative=D-c_jjXAbApI7wGnEhK3og&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=D-c_jjXAbApI7wGnEhK3og",
        "review_count": 2444, "categories": [{"alias": "mexican", [...]
